@use './tokens' as *;

//Google Font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

// Main styles
body {
    margin:0;
    background: $bgColor;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    > #app {
        display: flex;
        padding: 50px 0;
        box-sizing: border-box;

    }
}